<div class="main">
    <h1 class="page-header"><a href="/#/tasks/{{project.id}}">{{project.name}}</a> / <small>{{task.name}}</small></h1>
    <div class="well">
        <p>
            {{task.description}}
        </p>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Task History</strong>
                    <div class="pull-right">
                        <span class="glyphicon glyphicon-paperclip"></span>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="well">
                        <div class="row">
                            <div class="col-md-12">
                                <textarea [(ngModel)]="comment" style="width: 100%; height: 100px"></textarea>
                                <br /><br />
                                <div class="pull-right">
                                    <button class="btn btn-primary" (click)="reply(comment)">Reply</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="well" *ngFor="#item of task.history">
                        <p class="small"><strong>{{item.user.name.first}} {{item.user.name.last}} - {{parseDate(item.createdAt)}}</strong></p>
                        <p>{{item.log}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Assigned To</strong>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <select class="form-control" [(ngModel)]="task.assignedTo._id" (change)="change($event)">
                            <option *ngFor="#user of users" value="{{user.id}}">{{user.firstname}} {{user.lastname}}</option>
                        </select>
                    </li>
                </ul>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Users</strong>
                </div>
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="#user of task.users">{{user.name.first}} {{user.name.last}}</li>
                </ul>
                <div class="panel-footer">
                    <div class="input-group">
                        <input type="text" [(ngModel)]="taskUser" class="form-control" placeholder="Add username...">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="button" (click)="addUser(taskUser)">Add</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
